.back {
    background-color: #3f3160;
    min-height: 500px;
    width: 450px;
    margin: 40px auto;
    border-radius: 5px;
}
.list {
    color: #fff;
    width: 450px;
    background-color: #bf07ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p {
    padding: 10px;
    position: relative;
}
.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faiconsTrash {
    margin: 0 5px;
    font-size: 15px;
}
.faiconsPen {
    margin: 0 5px;
    font-size: 15px;
}
.choose {
    position: absolute;
    left: 250px;
    justify-content: space-between;
}
.createDiv {
    position: absolute;
    left: 250px;
    top: 250px;
    justify-content: space-between;
}